<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="" color="success"></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="conteudo">
    <div class="centro">
      <div class="metade">
        <img class="imagemPerfil" src="assets/London.jpg">
      </div>
      <div class="metade">
        <ion-text color="success">
          <h1 class="txtDestaque">SILVA, Bruno</h1>
          <p class="txtPequeno">Olá! Eu sou Bruno Henrique Agostinho da Silva e estou cursando o terceiro ano do Ensino Técnico Integrado ao Médio de Desenvolvimento de Sistemas na ETEC Antonio Devisate.</p>
          <p class="txtPequeno">Gosto da área de Desenvolvimento de Sistemas e Design Gráfico. Tenho como objetivo desenvolver projetos intuitivos que agreguem valor para os usuários.</p>
        </ion-text>
      </div>
    </div>
  </div>
</ion-content>
