<ion-header>
  <ion-toolbar>
    <ion-buttons defaultHref="folder" text="" color="success">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="divSessao">
    <ion-avatar id="avatar">
      <img src="assets/London.jpg" />
    </ion-avatar>
    <div>
      <ion-text class="nome"color="success">
        <h1>Nome do Usuário</h1>
      </ion-text>
      <ion-text class="descricao">
        <p>Descrição do usuário. Descrição do usuário. Descrição do usuário. Descrição do usuário. Descrição do usuário. Descrição do usuário.</p>
      </ion-text>
      <p>Estudante da ETEC Antonio Devisate, Marília.</p>
    </div>
  </div>
</ion-content>
