ion-menu-button {
  color:  #00A88E;
}

.verde {
  color:  #00A88E;
}

ion-content {
  font-size: 10px;
}

.conteudo {
  padding: 2% 1%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#cabecalho {
  background-color: #00A88E;
  background-image: url("/assets/img/c10.png");
  background-repeat: repeat;
  background-size: 30px 30px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.trabalho {
  max-width: 70%;
}
.trabalho ion-card-content {
  text-align: justify;
}

.txtDestaque {
  font-size: 6.0em;
  font-weight: bolder;
  color: white;
}

.txtPequeno {
  color: white;
  font-size: 1.6em;
}

#txtPesquisa {
  --background: white;
  --border-radius: 5px;
  --placeholder-color: #00A88E;
  --cancel-button-color: #00A88E;
  --clear-button-color: #00A88E;
  --icon-color: #00A88E;
  font-size: 1.6em;
  text-align: left;
  width: 70%;
}

@media screen and (max-width: 950px) {
  .trabalho {
    max-width: 90%;
    margin: 1% 5%;
  }
  #txtPesquisa {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .txtDestaque {
    font-size: 4.0em;
  }
  #cabecalho {
    height: 350px;
  }
}
