ion-menu-button {
  color: var(--ion-color-success);
}

#txtPesquisa {
  --background: rgba(var(--ion-color-success-rgb), 0.14);
  --border-radius: 15px;
  --placeholder-color: #757575;
  --icon-color: var(--ion-color-success);
  font-size: 16px;
}

.divSessao {
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.imgDivSessao {
  width: 50%;
}

.textoDivSessao {
  width: 50%;
}

@media (max-width: 400px){
  .divSessao{
    flex-direction: column;
  }
  .imgDivSessao {
    width: 100%;
    order: -1;
  }
  .textoDivSessao {
    width: 100%; 
  }
}

