<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Início</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="cadastro">
        <ion-item>
          <!-- <ion-title>Entrar</ion-title> -->
          <ion-icon slot="end" color="success" size="large" [ios]="'key-outline'" [md]="'key-sharp'"></ion-icon>
        </ion-item>
      </ion-button>
      <ion-button routerLink="cadastro">
        <ion-item>
          <!--<ion-title>Cadastrar</ion-title>-->
          <ion-icon slot="end" color="success" size="large" [ios]="'log-in-outline'" [md]="'log-in-sharp'"></ion-icon>
        </ion-item>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="conteudo" id="cabecalho">
    <ion-text color="success">
      <h1 class="txtDestaque">Seja bem-vindo ao Academic!</h1>
      <p class="txtPequeno">Aqui você pode postar seus trabalhos e acessar o trabalho de outras pessoas.</p>
    <ion-searchbar id="txtPesquisa" placeholder="Pesquise por trabalhos aqui..."></ion-searchbar>
    </ion-text>
  </div>
  <div class="conteudoTrabalhos">
    <div class="trabalho">
      <ion-text color="success">
        <h1>Título</h1>
      </ion-text>
      <p>O texto deve ser inserido aqui. O texto deve ser inserido aqui. O texto deve ser inserido aqui.</p>
    </div>
    <div class="trabalho">
      <ion-text color="success">
        <h1>Título</h1>
      </ion-text>
      <p>O texto deve ser inserido aqui. O texto deve ser inserido aqui. O texto deve ser inserido aqui.</p>
    </div>
    <div class="trabalho">
      <ion-text color="success">
        <h1>Título</h1>
      </ion-text>
      <p>O texto deve ser inserido aqui. O texto deve ser inserido aqui. O texto deve ser inserido aqui.</p>
    </div>
    <div class="trabalho">
      <ion-text color="success">
        <h1>Título</h1>
      </ion-text>
      <p>O texto deve ser inserido aqui. O texto deve ser inserido aqui. O texto deve ser inserido aqui.</p>
    </div>
    <div class="trabalho">
      <ion-text color="success">
        <h1>Título</h1>
      </ion-text>
      <p>O texto deve ser inserido aqui. O texto deve ser inserido aqui. O texto deve ser inserido aqui.</p>
    </div>
    <div class="trabalho">
      <ion-text color="success">
        <h1>Título</h1>
      </ion-text>
      <p>O texto deve ser inserido aqui. O texto deve ser inserido aqui. O texto deve ser inserido aqui.</p>
    </div>
    <div class="trabalho">
      <ion-text color="success">
        <h1>Título</h1>
      </ion-text>
      <p>O texto deve ser inserido aqui. O texto deve ser inserido aqui. O texto deve ser inserido aqui.</p>
    </div>
    <div class="trabalho">
      <ion-text color="success">
        <h1>Título</h1>
      </ion-text>
      <p>O texto deve ser inserido aqui. O texto deve ser inserido aqui. O texto deve ser inserido aqui.</p>
    </div>
    <div class="trabalho">
      <ion-text color="success">
        <h1>Título</h1>
      </ion-text>
      <p>O texto deve ser inserido aqui. O texto deve ser inserido aqui. O texto deve ser inserido aqui.</p>
    </div>
  </div>
</ion-content>
