<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Início</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon color="success" size="large" [ios]="'add-outline'" [md]="'add-sharp'"></ion-icon>
      </ion-button>
      <ion-button routerLink="cadastro">
        <ion-icon color="success" size="large" [ios]="'log-in-outline'" [md]="'log-in-sharp'"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="divSessao">
    <div class="textoDivSessao">
      <ion-text color="success">
        <h1>Seja bem-vindo ao Academic! Aqui você pode postar seus trabalhos e acessar o trabalho de outras pessoas.</h1>
      </ion-text>
      <ion-searchbar id="txtPesquisa"></ion-searchbar>
    </div>
    <div class="imgDivSessao">
      <img src="assets/London.jpg">
    </div>
  </div>
</ion-content>
