ion-content {
  font-size: 10px;
}

.conteudo {
  padding: 2% 1%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.centro {
  width: 900px;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.39);
  border-radius: 15px;
}

.metade {
  width: 50%;
}

#metadeInfo {
  padding: 1.5%;
}

.imagemCadastro {
  width: 100%;
  border-radius: 0px 15px 15px 0px;
}

.txtDestaque {
  font-size: 6.0em;
  font-weight: bolder;
}

.txtPequeno {
  color: black;
  font-size: 1.6em;
}
.txtInfo {
  --background: rgba(var(--ion-color-success-rgb), 0.14);
  border-radius: 15px;
  --placeholder-color: #757575;
  font-size: 1.6em;
  text-align: left;
  margin-bottom: 5px;
}
