ion-content {
  font-size: 10px;
}

.verde {
  color:  #00A88E;
}
.bgverde {
  --background: #00A88E;
}

.conteudo {
  padding: 2% 1%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.caixa {
  width: 1050px;
  height: 500px;
  display: flex;
  flex-direction: row;
  font-size: 10px;
}

.metade {
  width: 50%;
  font-size: 10px;
  padding: 0;
}

#metadeInfo {
  padding: 1.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagemLogin {
  width: 100%;
  border-radius: 0px 5px 5px 0px;
}

.txtDestaque {
  font-size: 6.0em;
  font-weight: bolder;
  color: #00A88E;
}

.txtPequeno {
  color: black;
  font-size: 1.6em;
}
.txtInfo {
  border-radius: 5px;
  --placeholder-color: #00A88E;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: #00a88f3b;
  font-size: 1.6em;
  text-align: left;
  margin-bottom: 5px;
}

@media screen and (max-width: 1050px){
  .caixa {
    height: auto;
    flex-direction: column;
  }
  .metade {
    width: 100%;
  }
  .imagemCadastro {
    display: none;
  }
}
