<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="" color="success"></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="divSessao">
    <ion-text color="success">
      <h1>Nome</h1>
    </ion-text>
    <ion-input class="txtInfo" type="text" placeholder="Obrigatório"></ion-input>
    <ion-text color="success">
      <h1>E-mail</h1>
    </ion-text>
    <ion-input class="txtInfo" type="email" placeholder="Obrigatório"></ion-input>
    <ion-text color="success">
      <h1>Senha</h1>
    </ion-text>
    <ion-input class="txtInfo" type="password" placeholder="Obrigatório"></ion-input>
    <ion-text color="success">
      <h1>Confirmar Senha</h1>
    </ion-text>
    <ion-input class="txtInfo" type="password" placeholder="Obrigatório"></ion-input>
    <ion-button expand="block" shape="round" color="success">Cadastrar</ion-button>
  </div>
</ion-content>
