<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="" color="success"></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="conteudo">
    <div class="centro">
      <div class="metade" id="metadeInfo">
        <ion-text color="success">
          <h1 class="txtDestaque">Cadastro</h1>
        </ion-text>
        <ion-input class="txtInfo" id="inpNome" type="text" placeholder="Nome Completo"></ion-input>
        <ion-input class="txtInfo" id="inpEmail" type="email" placeholder="E-mail"></ion-input>
        <ion-input class="txtInfo" id="inpSenha" type="password" placeholder="Senha"></ion-input>
        <ion-input class="txtInfo" id="inpConfSenha" type="password" placeholder="Corfirmar senha"></ion-input>
        <ion-button expand="block" shape="round" color="success">Cadastrar</ion-button>
      </div>
      <div class="metade">
        <img src="/assets/London.jpg" width="100%">
      </div>
    </div>
  </div>
</ion-content>
