.divSessao {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.txtInfo {
  --background: rgba(var(--ion-color-success-rgb), 0.14);
  border-radius: 15px;
  --placeholder-color: #757575;
  font-size: 20px;
  text-align: center;
}
