<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Para Instituições</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Confira o que as instituições estão fazendo!</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card>
      <ion-card-content>
        A
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        B
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        C
      </ion-card-content>
    </ion-card>
</ion-content>
