ion-content {
  font-size: 10px;
}

.conteudo {
  padding: 2% 1%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.centro {
  width: 900px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.39);
  border-radius: 15px;
  padding: 1.5%;
  margin-bottom: 10px;
}

.txtDestaque {
  font-size: 6.0em;
  font-weight: bolder;
  text-align: center;
}

.txtPequeno {
  color: black;
  font-size: 1.6em;
  text-align: justify;
}
